.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
      & .container {
      display: flex;
      align-items: center;
      }                  
         @media screen and (min-width: 768px) 
         {
            padding-top: 21px;
            padding-bottom: 21px;
                  }
         @media screen and (min-width: 1200px)
      {padding-top: 24px;
         padding-bottom: 24px;}}      

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.studio {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.nav {
   display: flex;
      gap: 50px;   
      display: none;
      @media screen and (min-width: 768px) {
            display: flex;
            margin-left: 88px;
         }
                   @media screen and (min-width: 1200px) {
                     margin-left: 93px;
                     margin-right: 315px;
                     gap: 50px;
                   }
}

.nav a {
  text-decoration: none;
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 100%;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms var(--transition-cubic);
&:hover,
   &:focus {
      color: var(--accent-color);  
       }
      &.current::after {
         content: '';
         display: block;
         width: 100%;
         height: 4px;
         background-color: var(--accent-color);
         border-radius: 2px;
         position: absolute;
         bottom: -2px;
         @media screen and (min-width: 1200px) {
               bottom: 0px;
            }
        }
           }


.current {
  color: var(--accent-color);
}

.contacts {
   display: none;
   @media screen and (min-width: 768px) {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         margin-left: auto;
                              }
                  @media screen and (min-width: 1200px) {
                     display: flex;
                     flex-direction: row;}}

.contacts a {
  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms var(--transition-cubic);
&:hover,
   &:focus {
      color: var(--accent-color);
   }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--transition-cubic);
&:hover,
   &:focus {
      fill: var(--accent-color);
   }
}

.contacts-item {
margin-bottom: 10px;
@media screen and (min-width: 1200px) {
     margin-right: 30px;
   margin-bottom: 0;}

}

// ------------------Мобільне меню-------------------------------------


.open-button {
   border: 0;
      margin-left: auto;
      padding: 0;
      display: inline-block;
      background-color: transparent;
      cursor: pointer;
      @media screen and (min-width: 767px) {      
            display: none;
         }
}

.menu-icon {
   fill: var(--secondary-text-color);
   transition: fill 250ms var(--transition-cubic);

   .open-button:active & {
      fill: var(--accent-color);
   } 
      .close-button:active & {
         fill: var(--accent-color);
      }
}

.mob-menu {
   position: fixed;
   top: 0;
   overflow: auto;
   z-index: 1;
   width: 100vw;
   height: 100vh;
   padding: 28px 20px;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @media screen and (min-width: 480px) {
   padding: 48px 40px;
      }
            @media screen and (min-width: 767px) {

   display: none;}      
   }

      .close-button {
         border: 0;
         padding: 0;
         display: block;
         background-color: transparent;
         cursor: pointer;
         position: absolute;
         top: 10px;
         right: 15px;
      }

.mob-nav a{
   text-decoration: none;
}

.mob-nav-item {
   margin-bottom: 32px;
}

.mob-nav-link {
color: var(--secondary-text-color);
   font-weight: 500;
   font-size: 30px;
      line-height: 1.17;
   letter-spacing: 0.02em;
   width: 100%;
   transition: color 250ms var(--transition-cubic);
   &:hover,
   &:focus {
      color: var(--accent-color);
   }  
      @media screen and (min-width: 480px) {
   font-size: 40px;
      }
}

.mob-tel {
   color: var(--accent-color);
   font-weight: 500;
   font-size: 26px;
      line-height: 1.18;
   letter-spacing: 0.02em;
   text-decoration: none;
   margin-bottom: 32px;
   display: flex;
   @media screen and (min-width: 480px) {
         font-size: 34px;
      }
}

.mob-mail {
   color: var(--primari-text-color);
   font-weight: 500;
   font-size: 20px;
      line-height: 1.7;
   letter-spacing: 0.02em;
   text-decoration: none;
   display: flex;
   margin-bottom: 64px;  
   @media screen and (min-width: 480px) {
         font-size: 24px;
      }
}

.mob-contacts {
   margin-right: 10px;
   fill: currentColor;
   transition: fill 250ms var(--transition-cubic);
   &:hover,
   &:focus {
      fill: var(--accent-color);
   }
}

.mob-soc {
   display: flex;
   flex-direction: row;
   margin-bottom: 48px;
}
   

.mob-soc-link {
      text-decoration: none;
      font-weight: 500;
         font-size: 15px;
         line-height: 1.22;
         letter-spacing: 0.02em;
         color: var(--accent-color);
         margin-right: 5px;
         cursor: pointer;
         @media screen and (min-width: 480px) {
               font-size: 18px;
               margin-right: 10px;
            }
}

.mob-soc-item:not(:last-child):after{
   content: '';
      width: 22px;
   border-right: 1px solid rgba(33, 33, 33, 0.2);
margin-right: 5px;
@media screen and (min-width: 480px) {
               margin-right: 10px;   }
}
                  

               
               